
{% for version in versions %}
---
## [{{ version.version }}] - {{ version.date.strftime('%Y-%m-%d') }}
**Commit Range**: [`{{ (version.commit_refs | first).hash[:6] }}`]({{ repo_url ~ '/commit/' ~ (version.commit_refs | first).hash }}) → [`{{ (version.commit_refs | last).hash[:6] }}`]({{ repo_url ~ '/commit/' ~ (version.commit_refs | last).hash }})

{% for group in version.groups %}
### {{ group.title|capitalize }}
{%   for commit in group.commits %}
- {{ commit.message }} [`{{ commit.hash[:6] }}`]({{ repo_url ~ '/commit/' ~ commit.hash }})
{% endfor %}
{% endfor %}
---
{% endfor %}
